/* Basic Reset */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

/* Header and Navigation */
header {
    background: #8ac5e1;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 2em 0;
    background: #3980d7;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

/* Main Content */
main {
    padding: 2em;
}

/* Sections */
section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #e478ab;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.feature .tab-content{
    background-color: #ffffffff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);

}

#key-points {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 8px;
    margin-top: 2em;
}

#key-points h2 {
    margin-bottom: 1em;
    color: #f058d9;
}

#key-points ul {
    list-style: none;
    padding: 0;
}

#key-points ul li {
    background: #ffffff;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#key-points ul li strong {
    color: #e22e9d;
}

#objectives {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 8px;
    margin-top: 2em;
}

#objectives h2 {
    margin-bottom: 1em;
    color: #00796b;
}

#objectives ul {
    list-style: none;
    padding: 0;
}

#objectives ul li {
    background: #f4f4f4;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#objectives ul li strong {
    color: #f15aab;
}

